/* Modify the background color */ 
body,nav{
  background-image: url("aesthetic sky.jpg");
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-size:cover;
  background: ;

}          
h5{
  /* background-color: white; */
  color: white;
}        


.navbar-custom { 
  background-color: lightsteelblue; 
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
} 
/* Modify brand and text color */ 

.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 30px;
}
.navbar-text { 
  color: black; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
} 
.about-me {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 15px;
}
.card-custom{
  max-width: 300px;
  max-height: 450px;
  padding: 20px;

}
/* Center page content */ 
.center{
  margin:auto;
  width: 100%;
  border: 5px solid lightsteelblue;
  padding: 30px;
}

.links{
  position: relative;
  text-align: center;
  float: right ;
  left: 15;
  top: 15;
  padding: 20px;
  border: 0;
  width: 98px;
  height: 30px;
  color:black;
  margin: 0px;
  text-decoration: none;
  font-family: "Abel";
  font-size: 160%;
}